.myInput {
    width: 100%;
    background: transparent;
    border: 1px solid var(--colors-text);
    border-radius: 5px;
    color: var(--colors-text);
    font-size: 1rem;
    padding: .75rem;
}
.myInput:focus {
    border: 1px solid var(--color-primary);
}
@media (max-width: 620px) {
    .myInput {
        font-size: .85rem;
    }
}
@media (max-width: 480px) {
    .myInput {
        font-size: .75rem;
        padding: 0.5rem;
    }
}