.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, .5);
}
.myModalContent {
    padding: 1rem;
    background: #242424;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: 0 1rem;
}
.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}