@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');
/* reset */
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, input {
    border: none;
    outline: none;
}

/* variables */
:root {
    --bg-color: #131517;
    --colors-text: #fff;
    --color-primary: #0083fc;
    --modal-bg: #262a2f;
}

/* body */
body {
    background-color: var(--bg-color);
    color: var(--colors-text);
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    min-height: 100vh;
}
/* #root */
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* main */
.container {
    max-width: 800px;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}

