@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap");
/* reset */
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
input {
  border: none;
  outline: none;
}

/* variables */
:root {
  --bg-color: #131517;
  --colors-text: #fff;
  --color-primary: #0083fc;
  --modal-bg: #262a2f;
}

/* body */
body {
  background-color: var(--bg-color);
  color: var(--colors-text);
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  min-height: 100vh;
}
/* #root */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* main */
.container {
  max-width: 800px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

/* postIdPage */
.post__page__title {
  margin: 2rem 0;
}
.post__page__info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  border-left: 4px solid var(--colors-text);
  padding: 2rem;
}
.post__page__id {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.post__page__comments {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  margin-bottom: 2rem;
}
.page__comment {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  border-right: 4px solid var(--color-primary);
  padding-right: 1rem;
}
.page__comment__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.page__comment__title a {
  color: var(--colors-text);
}
.page__comment__title:hover a {
  color: var(--color-primary);
}
@media (max-width: 620px) {
  .post__page__title {
    font-size: 1.25rem;
  }
  .post__page__info {
    padding: 1.5rem;
  }
  .page__comment__title {
    font-size: 0.9rem;
  }
  .page__comment__body {
    font-size: 0.85rem;
  }
}
@media (max-width: 480px) {
  .post__page__title {
    font-size: 1rem;
  }
  .post__page__info {
    padding: 1rem;
  }
  .post__page__info h3 {
    font-size: 1rem;
  }
  .post__page__info p {
    font-size: 0.85rem;
  }
}

/* login__form */
.login__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
